::after, ::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 215, 6);
  border: 10px solid rgb(221, 186, 0);
  margin: 20px;
  padding: 0px;
  
}

.name {
  color: rgb(18, 15, 0);;
  font-family: 'Montserrat', sans-serif;
  font-size: 9vw;
  font-weight: 900;
  line-height: 1;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.jobtitle {
  color: rgb(18, 15, 0);;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  font-weight: 500;
  margin-left: 30px;
  margin-top: 0px;
}

.alairas {
  color: rgb(18, 15, 0);;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 50px;
}

p {
  color: rgb(18, 15, 0);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12pt;
  margin-left: 30px;
}

.popupfont {
  color: rgb(18, 15, 0);
  font-family: 'Montserrat-Medium', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12pt;
  line-height: 1.4;
}

  #div_alairas {
    display: flex;
    justify-content: center;
  }

  #linkek_sor {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
  }


  .linkicon {
    height: 70px;
    text-decoration: none;
    -webkit-filter: drop-shadow(1px 1px 2px #222);
    filter: drop-shadow(1px 1px 2px #222);
    transform: rotateY(0deg);
    transition: transform 0.2s ease-in-out, color 0.2s linear;
  }
    .linkicon:hover {
      transform: rotateY(360deg);
      transition: transform 0.6s ease-in-out, color 0.4s linear;
    }

  
  .kep {  
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(10px 10px 20px #222);
    filter: drop-shadow(10px 10px 20px #222);
    vertical-align: middle;
    margin-top: 0px;
  }

  section:after {
    content: "";
    display: table;
    clear: both;
  }

  .hatterminta_oda {
    position: relative;
    -webkit-animation-name: oda; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation-name: oda;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @-webkit-keyframes oda {
    0%   {/*background-color:red;*/ left:-50%; top:0%;}
    100% {/*background-color:red;*/ left:150%; top:0%;}
  }
  
  /* Standard syntax */
  @keyframes oda {
    0%   {/*background-color:red;*/ left:-50%; top:0%;}
    100% {/*background-color:red;*/ left:150%; top:0%;}
  }

  .hatterminta_vissza {
    position: relative;
    -webkit-animation-name: vissza; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation-name: vissza;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @-webkit-keyframes vissza {
    0%   {/*background-color:red;*/ left:100%; top:0%;}
    100% {/*background-color:red;*/ left:-100%; top:0%;}
  }
  
  /* Standard syntax */
  @keyframes vissza {
    0%   {/*background-color:red;*/ left:100%; top:0%;}
    100% {/*background-color:red;*/ left:-100%; top:0%;}
  }

  .hatterminta_oda_kes {
    position: absolute;
    -webkit-animation-name: oda_kes; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 5s; /* Safari 4.0 - 8.0 */
    animation-name: oda_kes;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 5s;
  }

  @-webkit-keyframes oda_kes {
    0%   {/*background-color:red;*/ left:-50%; top:0%;}
    100% {/*background-color:red;*/ left:150%; top:0%;}
  }
  
  /* Standard syntax */
  @keyframes oda_kes {
    0%   {/*background-color:red;*/ left:-50%; top:0%;}
    100% {/*background-color:red;*/ left:150%; top:0%;}
  }

  .hatterminta_vissza_kes {
    position: absolute;
    -webkit-animation-name: vissza_kes; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 5s; /* Safari 4.0 - 8.0 */
    animation-name: vissza_kes;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 5s;
  }

  @-webkit-keyframes vissza_kes {
    0%   {/*background-color:red;*/ left:100%; top:0%;}
    100% {/*background-color:red;*/ left:-100%; top:0%;}
  }
  
  /* Standard syntax */
  @keyframes vissza_kes {
    0%   {/*background-color:red;*/ left:100%; top:0%;}
    100% {/*background-color:red;*/ left:-100%; top:0%;}
  }

  .popover-header {
    display: none;
  }

  .popover {
    max-width: 150px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 6px -3px rgb(32, 32, 32);
  }

  .popover-body {
    border: none;
    color: black;
    z-index: 2;
  }
