

body {
  background-color: rgb(255, 215, 6);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.content {
  overflow: scroll;
  height: 100vh;
  padding: 20px;
  -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.name {
  color: #31312d;
  font-family: 'Montserrat', sans-serif;
  font-size: 9vw;
  font-weight: 900;
  line-height: 1;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.jobtitle {
  color: #31312d;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  font-weight: 500;
  margin-left: 30px;
  margin-top: 0px;
}

.sign {
  color: #31312d;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 50px;
}

#div_sign {
  display: flex;
  justify-content: center;
}

p {
  color: #31312d;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12pt;
  margin-left: 30px;
}

#linkek_row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0px;
}

.linkicon {
    height: 70px;
    text-decoration: none;
    -webkit-filter: drop-shadow(1px 1px 2px #222);
    filter: drop-shadow(1px 1px 2px #222);
  }
    .linkicon:hover {
      transform: scale(1.3);
      -webkit-filter: drop-shadow(1px 1px 3px #222);
      filter: drop-shadow(1px 1px 3px #222);
      transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out, -webkit-filter 0.1s ease-in-out;
}

  
.image {  
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(10px 10px 20px #222);
    filter: drop-shadow(10px 10px 20px #222);
    vertical-align: middle;
    margin-top: 0px;
}


.background_anim {
    overflow: hidden;
    position: sticky;
    top: 0;
}

.background_animation {
  overflow: hidden;
  top: 0;                        
  left: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.animation_left {
  z-index: -2;
  width: 99%;
  height: 99%;
  background: url("abelcsendes_bck1.png");
  background-repeat: repeat;
  background-size: 100vw;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  animation: animation_left 50s linear infinite;
  -webkit-animation: animation_left 50s linear infinite;
  -moz-animation: animation_left 50s linear infinite;
  -o-animation: animation_left 50s linear infinite;
  animation-play-state: running;
}
@keyframes animation_left {
  0% {background-position: -3000%;}
  100% {background-position: 3000%;}
}
@-webkit-keyframes animation_left {
  0% {background-position: -3000%;}
  100% {background-position: 3000%;}
}
@-moz-keyframes animation_left {
  0% {background-position: -3000%;}
  100% {background-position: 3000%;}
}

.animation_right {
  z-index: -3;
  width: 99%;
  height: 99%;
  background: url("abelcsendes_bck2.png");
  background-repeat: repeat;
  background-size: 100vw;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  animation: animation_right 50s linear infinite;
  -webkit-animation: animation_right 50s linear infinite;
  -moz-animation: animation_right 50s linear infinite;
  -o-animation: animation_right 50s linear infinite;
}
@keyframes animation_right {
  0% {background-position: 3000%;}
  100% {background-position: -3000%;}
}
@-webkit-keyframes animation_right {
  0% {background-position: 3000%;}
  100% {background-position: -3000%;}
}
@-moz-keyframes animation_right {
  0% {background-position: 3000%;}
  100% {background-position: -3000%;}
}


  .popover-header {
    display: none;
  }

  .popover {
    max-width: 150px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 6px -3px rgb(32, 32, 32);
  }

  .popover-body {
    border: none;
    color: #31312d;
    z-index: 2;
  }

  .popupfont {
    color: #31312d;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12pt;
    line-height: 1.4;
    margin: 0px;
  }
